NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nocturne
DB_PASSWORD=nocturne
DB_NAME=nocturne

JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=1d

# Solo se usan para el script `npm run seed`
ADMIN_EMAIL=admin@nocturne.local
ADMIN_PASSWORD=change-this-password
